<head>
  <title>Robert Lee</title>
  <style>
    header {
      padding: 40px 0 40px; 0;
      text-align: center;
      background: url("http://www.checkouttravel.com/assets/images/geodata/92160.jpg");
      background-size: cover;
      background-position: center;
      color: white;
    }
    h1 {
      font-size: 50px;
    }
    body {
      font-family: helvetica;
      font-size: 14px;
    }
    h2 {
      font-size: 20px;
      font-style: bold;
      color: white;
      
    }
    img {
      margin: 20px 0px 20px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    a {
    	color: white;
    }
  </style>
</head>

<header>
	<img src="http://media.2oceansvibe.com/wp-content/uploads/2014/08/uberlogo_large_verge_medium_landscape.png" width= 300px>
  <h1>Uber, or Naaaw...?</h1>
  <h2> Helping you make good life decisions since 2015 </h2>
   </br>
   <h2><a href="/prompt"> Click here to get started! </a></h2>
</header>